<div class="container">
<div class="notif">
    <div class="title">
        <h2>Notification</h2>
    </div>

    <div class="list">
        <ul>
            <li>Une nouvelle publication de zarahay sur le théorème de pythagore</li>
            <li>Rali vous a mentionnez dans sa derenière publication</li>
            <li>C'est l'anniversaire de nael aujourd'hui</li>
          </ul>          
    </div>
</div>

<div class="message">
    <div class="title">
        <h2>Message</h2>
    </div>

    <div class="list">       
    </div>
</div>
</div>

