<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="form">
<div class="container">
    <div class="column">
        <div class="overlay"> 
            <h1 class="title"> ZARAHAY </h1>
            <h2 class="sub"> Doctorant </h2>

            <div class="description">
                <p>
                    Communauter de partage et d'echange d'information entre memebres.
                </p>
            </div>
        </div>
    </div>
    
    <div class="column">
        <div class="login-form">

            <a routerLink="/sign" routerLinkActive="active">Créer un compte ici</a>

            <h2>Se connecter</h2>
            <input type="text" placeholder="Nom d'utilisateur" [(ngModel)]="login.lastName">
            <input type="password" placeholder="Mot de passe" [(ngModel)]="login.password">

            <div class="forgot">
                <a routerLink="home" routerLinkActive="active">Mot de passe oublié ?</a>
            </div>

            <button type="button" (click)="onLogIn()" routerLinkActive="active" >Connection</button>
        </div>
    </div>
</div>
</div>