<div class="story-container">
    <div class="story">
      <img src="../../../../assets/img/Chese Lu.jpg" alt="Story 1">
      <span class="user-name">Chese Lu</span>
    </div>
    
    <div class="story">
        <img src="../../../../assets/img/Choong kong.jpg" alt="Story 1">
        <span class="user-name">Choong kong</span>
    </div>

    <div class="story">
        <img src="../../../../assets/img/Dia mond.jpg" alt="Story 1">
        <span class="user-name">Dia mond</span>
    </div>

    <div class="story">
        <img src="../../../../assets/img/Lucia ru.jpg" alt="Story 1">
        <span class="user-name">Lucia ru</span>
    </div>

    <div class="story">
        <img src="../../../../assets/img/Nina new.jpg" alt="Story 1">
        <span class="user-name">Nina new</span>
      </div>

    <div class="story">
      <img src="../../../../assets/img/profil.jpg" alt="Story 2">
      <span class="user-name">Vin Chen</span>
    </div>
</div>
  