<div class="container">

  <div class="friends">
    <app-friends></app-friends>
  </div>
<div class="post">

    <div class="user-info">
      <img src="../../.././../assets/img/profil.jpg" alt="User Profile Picture" class="profile-picture">
      <span class="username">username</span>
    </div>
    <img src="../../../../assets/img/trip.jpg" alt="Post Image" class="post-image">
    <div class="post-info">
      <button class="like-button">Like</button>
      <p class="caption">This is the caption for the post. #instagramlike</p>
      <p class="date">Posted on November 17, 2023</p>
    </div>
</div>  

<div class="content">
    <div class="post">
        <div class="user-info">
          <img src="../../.././../assets/img/profil.jpg" alt="User Profile Picture" class="profile-picture">
          <span class="username">username</span>
        </div>
        <img src="../../../../assets/img/trip.jpg" alt="Post Image" class="post-image">
        <div class="post-info">
          <button class="like-button">Like</button>
          <p class="caption">This is the caption for the post. #instagramlike</p>
          <p class="date">Posted on November 17, 2023</p>
    </div>
</div>  
